*{
    margin: 0;
    padding: 0;

}
.body{
    background-image: url(zldaLS.webp);
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    background: linear-gradient(rgb(90, 240, 220),rgb(244, 240, 118));
    height:92vmin;
    width: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);

}
.head{
    background: linear-gradient(black,yellow);
    border: 2px solid black !important;
    border-radius: 40%;
    transform: scale(1.09);
}
.snake{
    background: linear-gradient(black,orange);

    border: 2px solid gray;
    border-radius: 30%;
}
.food{
    background: linear-gradient(purple,red);
    
    border: 2px solid black;
    border-radius: 12px;
}
#scorebox{
    position: absolute ;
    top: 9px;
    right:200px;
    font-size:39px ;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}
#spd{
    position: absolute;
    top: 240px;
    font-size: 18px;
    border-radius: 10px;
    width: 100px;
    margin-bottom: 5px;
    /* left: -278px; */
}
#sub{
    position: absolute;
    top: 274px;
    font-size: 18px;
    border-radius: 10px;
    width: 100px;
    margin-bottom: 5px;
    /* left: 270px; */
}